{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <tr>
                <td> {{ item.type }}</td>
                <td> {{ item.symbol }}</td>
                <td> {{ item.price }}</td>
                <td> {{ item.shares }}</td>
                <td> {{ item.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
