{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ price }}</td>
                <td>{{ symbol }}</td>
            </tr>
        </body>
    </table>
{% endblock %}
